In [1]:
import sqlalchemy as sa

In [2]:
engine = sa.create_engine('postgresql://postgres:root@localhost:5432/Movr')
%load_ext sql
%sql $engine.url

In [6]:
%%sql

SELECT COUNT(*) FROM vehicle_location_histories AS vlh
WHERE
  city = 'new york' AND
  long BETWEEN 40.5 AND 40.6 AND
  lat BETWEEN -74.997 AND -74.9968 AND
  vlh.timestamp::date = '2020-06-23'::date
-- ORDER BY long;

 * postgresql://postgres:***@localhost:5432/Movr
1 rows affected.

[(428,)]

In [10]:
%%sql

CREATE VIEW suspected_rides AS
SELECT * FROM vehicle_location_histories AS vlh
WHERE
  city = 'new york' AND
  long BETWEEN 40.5 AND 40.6 AND
  lat BETWEEN -74.997 AND -74.9968 AND
  vlh.timestamp::date = '2020-06-23'::date
ORDER BY long;

 * postgresql://postgres:***@localhost:5432/Movr
Done.

[]

In [13]:
%%sql

SELECT DISTINCT r.vehicle_id, u.name AS "rider name", u.address, v.status, v.current_location
FROM suspected_rides AS sr
JOIN rides AS r ON r.id = sr.ride_id
JOIN vehicles AS v ON v.id = r.vehicle_id
JOIN users AS u ON u.id = v.owner_id
LIMIT 5

 * postgresql://postgres:***@localhost:5432/Movr
5 rows affected.

[(UUID('01d60181-5762-4603-831e-08a29d3ebb5d'), 'Tyler Evans', '0031 Teresa Path Apt. 577\nNew Amanda, RI 31951', 'available', '6595 Rice Hill\nLawrencemouth, NE 64294'),
 (UUID('03002163-c9d9-42e9-81c9-a9ca83476d5c'), 'Jeffery Garcia', '63238 Sharon Field Apt. 382\nPittsfurt, GA 91043', 'available', '49059 Jose Route Suite 770\nTeresashire, DE 47738'),
 (UUID('06145a48-2fde-47da-8214-22e48b8af3b2'), 'Joshua Sherman', '4776 Lambert Gateway Suite 072\nSouth Danaborough, KY 83929', 'available', '08835 Burgess Groves Apt. 914\nRussellborough, TX 34656'),
 (UUID('18c9ef45-b7fe-41f5-a2be-fdb4e404861e'), 'Crystal Lynch', '98230 Melendez Avenue Suite 096\nDevinfurt, AK 52515', 'available', '43933 Long Fields Suite 080\nWarrenville, NE 40004'),
 (UUID('19f0933c-abec-487d-a928-624089147d1d'), 'Chad Scott', 'PSC 4484, Box 9126\nAPO AA 93176', 'available', '50985 Becker Island Suite 164\nMcculloughfort, GA 81346')]

In [14]:
%%sql

CREATE VIEW suspect_rider_names AS
  SELECT DISTINCT
    split_part(u.name, ' ', 1) AS "first_name",
    split_part(u.name, ' ', 2) AS "last_name"
  FRoM suspected_rides AS vlh
  JOIN rides AS r ON r.id = vlh.ride_id
  JOIN users AS u ON u.id = r.rider_id

 * postgresql://postgres:***@localhost:5432/Movr
Done.

[]

In [15]:
%%sql
SELECT * FROM suspect_rider_names
LIMIT 5

 * postgresql://postgres:***@localhost:5432/Movr
5 rows affected.

[('Alexander', 'Freeman'),
 ('Alexis', 'Jones'),
 ('Alicia', 'Jones'),
 ('Alyssa', 'Carroll'),
 ('Amanda', 'Farrell')]

```
Movr=# create extension dblink;
```

In [17]:
%%sql

SELECT DISTINCT
    CONCAT(t1.first_name, ' ', t1.last_name) AS "employee",
    CONCAT(u.first_name, ' ', u.last_name) AS "rider"

FROM 
    dblink('host=localhost user=postgres password=root dbname=Movr_Employees', 
           'SELECT first_name, last_name FROM employees;') 
AS t1(first_name NAME, last_name NAME)

JOIN suspect_rider_names AS u ON t1.last_name = u.last_name
ORDER BY "rider"

 * postgresql://postgres:***@localhost:5432/Movr
11 rows affected.

[('Annemarie Harllee', 'Danny Harllee'),
 ('Barun Harllee', 'Danny Harllee'),
 ('Domenico Harllee', 'Danny Harllee'),
 ('Izaskun Harllee', 'Danny Harllee'),
 ('Deborah Peck', 'Jeanne Peck'),
 ('Fumino Peck', 'Jeanne Peck'),
 ('Gino Peck', 'Jeanne Peck'),
 ('Sreenivas Peck', 'Jeanne Peck'),
 ('Xumin Peck', 'Jeanne Peck'),
 ('Parke Morris', 'Morgan Morris'),
 ('Xiaoshan Morris', 'Morgan Morris')]